*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}

/*****************Container*******************/

.container{
    width: 100vw;
    background-color: #ccc;
}
/*****************Header*******************/

.container .header{
    height:  70px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header .logo{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.header .logo img{
    width: 50%;
    height: 50%;
}

.container .header .search{
    display: flex;
    background-color: #ccc;
    flex-basis: 40%;
    height: 50%;
    align-items: center;
    justify-content: space-around;
    border-radius:20px ;
   
}
.header .search input{
    border: none;
    background-color: transparent;
    
}

.header .search input:focus{
    border: none;
    outline: none;
    background-color: transparent;
    
}

.header .search i{

    order:1 ;
    
}

.container .header .icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 20%;
}

/*****************End Header*******************/
.main{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100vw;
}
.main .photo1{
    flex-basis: 70%;
    
}
.main .photo2{
    flex-basis: 30%;
    
}

.main .photo1 img{
    display: flex;
    width:100%;
    height: 100%;


}
.main .photo2 img{
    display:flex;
    width: 100%;
}
.con{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin-left: 200px;
    margin-right: 200px;
    gap: 60px;
    background-color: rgb(211,211, 211);
        
}
.con :hover{
    background-color: #ccc;
}
.con img{
    background-color: #fff;
    border: 1px solid white;
    border-radius: 50px;
}    
    
h4{
    text-align: center ;
    font-size: 15px;
} 
.photo4{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
}
.photo4 img{
    height: 60px;
    margin-top: -20px;
}
.photo11{
    margin-left: -30px;
}
.photo12{
    margin-left: -60px;
}
.photobanniere img{
    width:75%;
    height: 200px;
    margin-left: 200px;
   margin-right: 300px;
}
.card {
    display: flex;
}
.titre h4{  

    text-align: start;
    margin-left: 200px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 5px;
}
.card img{
    height: 250px;
    margin-left: 200px;
    margin-top: 20px;
}
.card h4,h3{
    background: #fff;
     text-align: left;
    margin-left: 200px;
}

.card2 {
    margin-left: -190px;
}
.card2 img{
    width: 200px;
}
.card3 {
    margin-left: -190px;
}
.card3 img{
    width: 180px;
}
.card4 {
    margin-left: -190px;
}
.card5 {
    margin-left: -190px;
}
.card5 img{
    width: 200px;
}
.card6 {
    margin-left: -190px;
}



.logo{
    margin-left: 200px;
    border :1px solid black;
   
}
.logo h3{
    margin-left:15px;
    margin-top: -20px;
    font-size: 15px;
    font-weight: 0.5px;
    border: 1px solid black;
}
.store{
    display: flex;
    margin-top: 50px;
    gap: 10px;
    justify-content: center
} 
.store img{
    width: 300px;
}
h2{
    text-align: left;
    margin-left: 200px;
    margin-top: 20px;
}   






    

   



